In [2]:
import pandas as pd

## Comparing grouping by date vs. not

When we group by date, we miss matches that are effective on the same date, but really represent activity from different days due to processing over the weekend, etc. 

We observe 13 matches when grouping vs. 26 when not --- double the matches. 

Additionally, including the bkcd makes us achieve 1 fewer match in both versions of the grouped/non grouped matchings

In [3]:
audit = pd.read_csv('audit.csv')
bank_activity = pd.read_csv('bank_activity.csv')
# Clean audit data
audit = audit[['Code', 'Description', 'Date Effective', ' Amount ']]
audit['Code'] = audit['Code'].astype(str)
audit['Description'] = audit['Description'].astype(str)
audit['Date Effective'] = pd.to_datetime(audit['Date Effective'])

# Convert Amount to float, handling () for negatives
audit['Amount'] = audit[' Amount '].str.replace('$', '', regex=False)
audit['Amount'] = audit['Amount'].str.replace(',', '', regex=False)
audit['Amount'] = audit['Amount'].apply(lambda x: -float(x.strip().strip('()')) if '(' in str(x) else float(x.strip()))
audit = audit.drop(" Amount ", axis=1)
# Clean bank activity data
bank_activity = bank_activity[['Date', ' Amount ', 'Transaction Detail']]
bank_activity['Date'] = pd.to_datetime(bank_activity['Date'])
bank_activity["Amount"] = bank_activity[" Amount "].str.replace("$", "", regex=False)
bank_activity["Amount"] = bank_activity["Amount"].str.replace(",", "", regex=False)
bank_activity["Amount"] = bank_activity["Amount"].apply(lambda x: -float(str(x).strip().strip("()")) if "(" in str(x) else float(str(x).strip()))
bank_activity = bank_activity.drop(" Amount ", axis=1)
# Create cc_provider column based on Transaction Detail
def get_cc_provider(detail):
    if 'SHIFT4' in str(detail) and 'PYMT' in str(detail):
        return 'shift4'
    elif 'AMERICAN EXPRESSSETTLEMENT' in str(detail):
        return 'amex'
    return None

# Map credit card codes to shift4
shift4_codes = ['visa', 'mc', 'svis', 'disc']
audit.loc[audit['Code'].str.lower().isin(shift4_codes), 'Code'] = 'shift4'


bank_activity['cc_provider'] = bank_activity['Transaction Detail'].apply(get_cc_provider)
bank_activity = bank_activity.drop("Transaction Detail", axis=1)
# Group audit data by Code and Date
audit_grouped = audit.groupby(['Code', 'Date Effective'])['Amount'].sum().reset_index()
bank_activity = bank_activity.groupby(["cc_provider", "Date"])['Amount'].sum().reset_index()
# Group bank activity by date and cc_provider 
# Join the dataframes on date, matching audit Date Effective with bank Date
# Also match audit Code with bank cc_provider
# Create empty list to store matches
matches = []

# For each audit record
for _, audit_row in audit_grouped.iterrows():
    code = audit_row['Code']
    date_effective = audit_row['Date Effective'] 
    audit_amount = audit_row['Amount']
    
    # Find bank transactions after the audit date with matching code/provider
    date_matches = bank_activity['Date'] >= date_effective
    code_matches = bank_activity['cc_provider'] == code.lower()
    amount_matches = abs(bank_activity['Amount'].round(2) - round(audit_amount, 2)) < 0.01
    
    # Debug prints for matching conditions

    
    potential_matches = bank_activity[date_matches & code_matches & amount_matches]
    
    
    if not potential_matches.empty:
        match = potential_matches.iloc[0]
        matches.append({
            'Audit_Date': date_effective,
            'Bank_Date': match['Date'],
            'Code': code,
            'Amount': audit_amount,
            'Days_to_Clear': (match['Date'] - date_effective).days
        })

# Convert matches to DataFrame
matches_df = pd.DataFrame(matches)
matches_df

   Audit_Date  Bank_Date    Code    Amount  Days_to_Clear
0  2024-12-01 2024-12-03    amex   4305.94              2
1  2024-12-03 2024-12-05    amex  11107.54              2
2  2024-12-04 2024-12-06    amex  57545.91              2
3  2024-12-10 2024-12-12    amex  10613.37              2
4  2024-12-15 2024-12-17    amex  10114.18              2
5  2024-12-22 2024-12-24    amex   4059.58              2
6  2024-12-23 2024-12-26    amex   2039.08              3
7  2024-12-29 2024-12-31    amex   2144.26              2
8  2024-12-03 2024-12-05  shift4  22882.14              2
9  2024-12-04 2024-12-06  shift4  29829.56              2
10 2024-12-10 2024-12-12  shift4  10464.84              2
11 2024-12-11 2024-12-13  shift4  32832.37              2
12 2024-12-15 2024-12-17  shift4  29899.35              2

In [4]:
audit = pd.read_csv('audit.csv')
bank_activity = pd.read_csv('bank_activity.csv')
# Clean audit data
audit = audit[['Code', 'Description', 'Date Effective', ' Amount ']]
audit['Code'] = audit['Code'].astype(str)
audit['Description'] = audit['Description'].astype(str)
audit['Date Effective'] = pd.to_datetime(audit['Date Effective'])

# Convert Amount to float, handling () for negatives
audit['Amount'] = audit[' Amount '].str.replace('$', '', regex=False)
audit['Amount'] = audit['Amount'].str.replace(',', '', regex=False)
audit['Amount'] = audit['Amount'].apply(lambda x: -float(x.strip().strip('()')) if '(' in str(x) else float(x.strip()))
audit = audit.drop(" Amount ", axis=1)
# Clean bank activity data
bank_activity = bank_activity[['Date', ' Amount ', 'Transaction Detail']]
bank_activity['Date'] = pd.to_datetime(bank_activity['Date'])
bank_activity["Amount"] = bank_activity[" Amount "].str.replace("$", "", regex=False)
bank_activity["Amount"] = bank_activity["Amount"].str.replace(",", "", regex=False)
bank_activity["Amount"] = bank_activity["Amount"].apply(lambda x: -float(str(x).strip().strip("()")) if "(" in str(x) else float(str(x).strip()))
bank_activity = bank_activity.drop(" Amount ", axis=1)
# Create cc_provider column based on Transaction Detail
def get_cc_provider(detail):
    if 'SHIFT4' in str(detail) and 'PYMT' in str(detail):
        return 'shift4'
    elif 'AMERICAN EXPRESSSETTLEMENT' in str(detail):
        return 'amex'
    return None

# Map credit card codes to shift4
shift4_codes = ['visa', 'mc', 'svis', 'disc']
audit.loc[audit['Code'].str.lower().isin(shift4_codes), 'Code'] = 'shift4'


bank_activity['cc_provider'] = bank_activity['Transaction Detail'].apply(get_cc_provider)
bank_activity = bank_activity.drop("Transaction Detail", axis=1)
# Group audit data by Code and Date
audit_grouped = audit.groupby(['Code', 'Date Effective'])['Amount'].sum().reset_index()
# Group bank activity by date and cc_provider 
# Join the dataframes on date, matching audit Date Effective with bank Date
# Also match audit Code with bank cc_provider
# Create empty list to store matches
matches = []

# For each audit record
for _, audit_row in audit_grouped.iterrows():
    code = audit_row['Code']
    date_effective = audit_row['Date Effective'] 
    audit_amount = audit_row['Amount']
    
    # Find bank transactions after the audit date with matching code/provider
    date_matches = bank_activity['Date'] >= date_effective
    code_matches = bank_activity['cc_provider'] == code.lower()
    amount_matches = abs(bank_activity['Amount'].round(2) - round(audit_amount, 2)) < 0.01
    
    # Debug prints for matching conditions

    
    potential_matches = bank_activity[date_matches & code_matches & amount_matches]
    
    
    if not potential_matches.empty:
        match = potential_matches.iloc[0]
        matches.append({
            'Audit_Date': date_effective,
            'Bank_Date': match['Date'],
            'Code': code,
            'Amount': audit_amount,
            'Days_to_Clear': (match['Date'] - date_effective).days
        })

# Convert matches to DataFrame
matches_df = pd.DataFrame(matches)
matches_df

   Audit_Date  Bank_Date    Code    Amount  Days_to_Clear
0  2024-12-01 2024-12-03    amex   4305.94              2
1  2024-12-03 2024-12-05    amex  11107.54              2
2  2024-12-04 2024-12-06    amex  57545.91              2
3  2024-12-06 2024-12-09    amex   1467.31              3
4  2024-12-07 2024-12-09    amex   3728.45              2
5  2024-12-10 2024-12-12    amex  10613.37              2
6  2024-12-12 2024-12-16    amex   5958.50              4
7  2024-12-15 2024-12-17    amex  10114.18              2
8  2024-12-20 2024-12-23    amex   3449.04              3
9  2024-12-21 2024-12-23    amex  16758.05              2
10 2024-12-22 2024-12-24    amex   4059.58              2
11 2024-12-23 2024-12-26    amex   2039.08              3
12 2024-12-26 2024-12-30    amex   1020.70              4
13 2024-12-27 2024-12-30    amex  12498.16              3
14 2024-12-29 2024-12-31    amex   2144.26              2
15 2024-12-03 2024-12-05  shift4  22882.14              2
16 2024-12-04 2024-12-06  shift4  29829.56              2
17 2024-12-06 2024-12-09  shift4  18438.80              3
18 2024-12-07 2024-12-09  shift4  20181.87              2
19 2024-12-10 2024-12-12  shift4  10464.84              2
20 2024-12-11 2024-12-13  shift4  32832.37              2
21 2024-12-14 2024-12-16  shift4    879.53              2
22 2024-12-15 2024-12-17  shift4  29899.35              2
23 2024-12-20 2024-12-23  shift4  18694.58              3
24 2024-12-26 2024-12-30  shift4  27597.20              4
25 2024-12-28 2024-12-30  shift4  27804.00              2

In [15]:
# After creating matches_df, find unmatched records

# Get sets of matched records
matched_audit = set(zip(matches_df['Audit_Date'], matches_df['Code'], matches_df['Amount']))
matched_bank = set(zip(matches_df['Bank_Date'], matches_df['Code'].str.lower(), matches_df['Amount']))

# Find unmatched audit records (only amex and shift4)
unmatched_audit = audit_grouped[
    (audit_grouped['Code'].isin(['amex', 'shift4'])) &
    ~audit_grouped.apply(
        lambda x: (x['Date Effective'], x['Code'], x['Amount']) in matched_audit, 
        axis=1
    )
].sort_values(['Date Effective', 'Code', 'Amount'])

# Find unmatched bank records (only amex and shift4)
unmatched_bank = bank_activity[
    (bank_activity['cc_provider'].isin(['amex', 'shift4'])) &
    ~bank_activity.apply(
        lambda x: (x['Date'], x['cc_provider'], x['Amount']) in matched_bank,
        axis=1
    )
].sort_values(['Date', 'cc_provider', 'Amount'])
# After creating matches_df, find unmatched records as before...

# Separate unmatched records by code
for code in ['amex', 'shift4']:
    # Get records for this code
    audit_code = unmatched_audit[unmatched_audit['Code'] == code]
    bank_code = unmatched_bank[unmatched_bank['cc_provider'] == code]
    
    print(f"\nUnmatched {code.upper()} Records:")
    print("-" * 80)
    print(f"{'AUDIT':40} | {'BANK':40}")
    print(f"{'Date':12} {'Amount':>12} {'':16} | {'Date':12} {'Amount':>12}")
    print("-" * 80)
    
    # Convert to lists for easier handling
    audit_list = list(audit_code.iterrows())
    bank_list = list(bank_code.iterrows())
    
    # Print matching pairs
    for i in range(min(len(audit_list), len(bank_list))):
        _, audit_row = audit_list[i]
        _, bank_row = bank_list[i]
        audit_str = f"{audit_row['Date Effective'].date()!s:12} {audit_row['Amount']:>12.2f}"
        bank_str = f"{bank_row['Date'].date()!s:12} {bank_row['Amount']:>12.2f}"
        print(f"{audit_str:40} | {bank_str:40}")
    
    # Print remaining audit records
    for i in range(len(bank_list), len(audit_list)):
        _, audit_row = audit_list[i]
        audit_str = f"{audit_row['Date Effective'].date()!s:12} {audit_row['Amount']:>12.2f}"
        print(f"{audit_str:40} | {'':40}")
    
    # Print remaining bank records
    for i in range(len(audit_list), len(bank_list)):
        _, bank_row = bank_list[i]
        bank_str = f"{bank_row['Date'].date()!s:12} {bank_row['Amount']:>12.2f}"
        print(f"{'':40} | {bank_str:40}")
    
    # Print summary for this code
    print("-" * 80)
    print(f"Total unmatched {code} records:")
    print(f"Audit: {len(audit_code)} records, ${audit_code['Amount'].sum():,.2f}")
    print(f"Bank:  {len(bank_code)} records, ${bank_code['Amount'].sum():,.2f}")
    print(f"Difference: ${abs(audit_code['Amount'].sum() - bank_code['Amount'].sum()):,.2f}")
    print()

Unmatched AMEX Records:
--------------------------------------------------------------------------------
AUDIT                                    | BANK
Date               Amount                  | Date               Amount
--------------------------------------------------------------------------------
2024-12-02        3979.17                | 2024-12-02        1304.37
2024-12-05       17344.91                | 2024-12-02        1461.01
2024-12-08       11508.48                | 2024-12-02       22593.44
2024-12-09       16526.56                | 2024-12-04        2190.36
2024-12-11        2206.51                | 2024-12-06       57545.91
2024-12-13        8609.71                | 2024-12-09       19133.72
2024-12-14        1027.12                | 2024-12-10       15256.20
2024-12-16       16309.62                | 2024-12-11       12778.84
2024-12-17       77789.26                | 2024-12-13        2688.46
2024-12-18        -102.29                | 2024-12-16        1020.21
2024-12-19       22168.79                | 2024-12-16        8616.62
2024-12-24        2386.18                | 2024-12-18       17134.02
2024-12-25        1249.38                | 2024-12-19       79813.59
2024-12-28       -1920.73                | 2024-12-20        1630.15
2024-12-30        1926.46                | 2024-12-23       17587.62
2024-12-31        2006.21                | 2024-12-27        3635.56
                                         | 2024-12-31        2144.26
--------------------------------------------------------------------------------
Total unmatched amex records:
Audit: 16 records, $183,015.34
Bank:  17 records, $266,534.34
Difference: $83,519.00


Unmatched SHIFT4 Records:
--------------------------------------------------------------------------------
AUDIT                                    | BANK
Date               Amount                  | Date               Amount
--------------------------------------------------------------------------------
2024-12-01       30442.41                | 2024-12-02        7933.53
2024-12-02       26956.30                | 2024-12-02       13890.91
2024-12-05       27403.20                | 2024-12-02       19823.90
2024-12-08       38394.30                | 2024-12-02       45809.46
2024-12-09       30731.51                | 2024-12-03       31302.89
2024-12-12       34478.74                | 2024-12-04       27884.63
2024-12-13       32274.15                | 2024-12-09       25614.39
2024-12-16       43665.88                | 2024-12-10       43113.26
2024-12-17       15561.37                | 2024-12-11       26012.55
2024-12-18       20350.06                | 2024-12-16        -902.68
2024-12-19       26982.58                | 2024-12-16         879.53
2024-12-21       31869.17                | 2024-12-16       32483.01
2024-12-22        6862.91                | 2024-12-16       35172.56
2024-12-23       36726.56                | 2024-12-17       29899.35
2024-12-24       10176.66                | 2024-12-18        3375.00
2024-12-25       10936.19                | 2024-12-18       41232.63
2024-12-27       15616.89                | 2024-12-19       14619.62
2024-12-29       31802.33                | 2024-12-20       23089.94
2024-12-30        7793.63                | 2024-12-23        -565.05
2024-12-31       16701.13                | 2024-12-23        7739.65
                                         | 2024-12-23       24807.75
                                         | 2024-12-23       33500.72
                                         | 2024-12-24        9007.56
                                         | 2024-12-26       32950.36
                                         | 2024-12-27       10169.11
                                         | 2024-12-27       11193.74
                                         | 2024-12-30       17150.93
                                         | 2024-12-31       30018.29
--------------------------------------------------------------------------------
Total unmatched shift4 records:
Audit: 20 records, $495,725.97
Bank:  28 records, $597,207.54
Difference: $101,481.57